@font-face {
  font-family: 'Cereal';
  src: url(./AirbnbCereal-Black.ttf)
}

.createUser-form {
  color: $text;
  background-color: $accent;
  align-items: center;
  border: 2px solid rgb(242, 242, 242);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 400px;

  h2 {
    font-family: 'Cereal'
  }

  p {
  font-family: 'Roboto';
  color: $primary;
  text-transform: uppercase;
  }

  input {
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
    width: 200px;
    outline: none;
  }

  button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 30px;
    margin-bottom: 15px;
    transition-duration: .15s;
    width: 100px;

    &:hover {
      background-color: $text;
      color: $primary;    
      }
  }

  .link {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 449px) {
  .createUser-form {
    width: 285px
  }
}