.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.movie-details-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Roboto', sans-serif;
  border: 3px solid;
  border-radius: 10px;
  width: 1000px;
  span {
    font-weight: 600;
  }
  h3 {
    font-size: 30px;
    margin: 15px 0px;
  }

  .overview {
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 20px;
    padding-right: 100px;
    line-height: 30px;
  }

  img {
    height: 350px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 1059px) {
  .movie-details-card {
    width: 700px;
    
    h3 {
      font-size: 25px;
    }

    p {
      font-size: 15px;
    }

    img {
    height: 250px;
    width: 165px;
    }
  }
}

@media only screen and (max-width: 759px) {
  .movie-details-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 25px;
    }

    p {
      font-size: 15px;
      text-align: center;
      padding: 0;
    }

    .overview {
      width: 350px;
      text-align: center;
    }
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 544px) {
  .movie-details-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
      text-align: center;
      padding: 0;
    }

    .overview {
      width: 250px;
    }

    img {
      display: none;
    }
  }
}