.movie-card-div {
    height: 500px;
    width: 325px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.31);

    &:hover {
      animation: grow 0.5s ease 0s 1 normal;
      animation-fill-mode: forwards;
    }


  img {
    height: 500px;
    width: 325px;
    border-radius: 15px;
  }
  button {
    background-color: $primary;
    outline: none;
    bottom: 50px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 30px;
    font-family: 'Cereal';
    font-size: 1rem;
    text-transform: uppercase;
    width: 200px;;

    &:hover {
      color: $primary;
      background-color: $accent;
    }
  }
}

@media only screen and (max-width: 449px) {
  .movie-card-div {
    height: 430px;
    width: 290px;

    img {
    height: 430px;
    width: 290px;
    }

  }
}

@keyframes grow {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.01)
  }
}