.movie-card-div {
    height: 500px;
    width: 325px;
    border-radius: 15px;
    margin: 15px;

  img {
    height: 500px;
    width: 325px;
    border-radius: 15px;
  }
  button {
    background-color: $primary;
    bottom: 50px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 30px;
    font-family: 'Cereal';
    font-size: 1rem;
    text-transform: uppercase;
    width: 300px;

    &:hover {
      border: 2px solid blue;
    }
  }
}

@media only screen and (max-width: 449px) {
  .movie-card-div {
    height: 430px;
    width: 290px;

    img {
    height: 430px;
    width: 290px;
    }

  }
}