@font-face {
  font-family: 'Cereal';
  src: url(./AirbnbCereal-Black.ttf)
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: 'Cereal';
  text-transform: uppercase;
}