@font-face {
  font-family: 'Cereal';
  src: url(./AirbnbCereal-Black.ttf)
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  font-family: 'Cereal';
  text-transform: uppercase;
  
  h1 {
    color: #1f1f1f;
  }

  button {
    background-image: url(./sign-out-alt-solid.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .nav {
    color: #1f1f1f;
    margin: 0 7px;
    text-decoration: none;

    &:hover {
      color: blue;
    }
  }
}