@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '/variables';
@import "./components/MovieCard/MovieCard";
@import './containers/CreateUser/CreateUser';
@import './components/Header/Header';
@import './containers/MovieArea/MovieArea';
@import './containers/Login/Login';
@import './components/MovieDetails/MovieDetails';


* {
  box-sizing: border-box;
}

body {
 background-color: $primary;
 min-width: 320px;
 margin: 0;
}
