@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '/variables';
@import "./components/MovieCard/MovieCard";
@import './containers/CreateUser/CreateUser';
@import './components/Header/Header';
@import './containers/MovieArea/MovieArea';
@import './containers/Login/Login';
@import './components/MovieDetails/MovieDetails';
@import './containers/App/App';


* {
  box-sizing: border-box;
}

body {
  background: $body;  
  background: -webkit-linear-gradient(to bottom, #171717, $body); 
  background: linear-gradient(to bottom, #171717, $body); 
  min-width: 320px;
  margin: 0;
  min-height: 1000px;
}
